.btn-blink-gradient-primary {
    color: $gradient-primary-1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @if $middle-gradient == 'yes' {
        @include button-gradient-blink-variant(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) fixed, #fff);
    } @else {
        @include button-gradient-blink-variant(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) fixed, #fff);
    }
}
.btn-underline-gradient-primary {
    @include button-gradient-underline-variant($gradient-primary-1);
}
.btn-line-gradient-primary {
    @include button-gradient-line-variant($gradient-primary-1);
}

.firas {
    content: $middle-gradient;
}
.text-gradient-primary {
    background-color: $primary;
    // text-rendering:optimizelegibility;
    @if $middle-gradient == 'yes' {
        // background: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) fixed;
        background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) !important;
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
    } @else {
        background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2)) !important;
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
    }
     background-size: 100%;
    -webkit-box-decoration-break: clone;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    box-decoration-break: clone;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    span {
        -webkit-backface-visibility: initial;
                backface-visibility: initial;
    }
    svg {
        path, rect, circle, polygon {
            fill:url(#svg-gradient-primary) !important;
        }
   }
   i { position: inherit !important; }
   .pix-words-wrapper span {
       background-size: 100%;
      -webkit-box-decoration-break: clone;
      -webkit-background-clip: text !important;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      box-decoration-break: clone;
      background-attachment: fixed;
      background-position: 0 0;
      background-repeat: repeat;
       @if $middle-gradient == 'yes' {
           // background: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) fixed;
           background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) !important;
           background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
       } @else {
           background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2)) !important;
           background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
       }
   }
}
@-moz-document url-prefix() {
 .text-gradient-primary, .text-gradient-primary * {
     background-attachment: inherit !important;
  }
}
.text-gradient-primary-test {
    background-color: $primary;
    @if $middle-gradient == 'yes' {
        // background: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) fixed;
        background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2)) !important;
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
    } @else {
        background-image: -webkit-gradient(linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2)) !important;
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
    }
     background-size: 100%;
    -webkit-box-decoration-break: clone;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    box-decoration-break: clone;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
}

.text-attachment-fix {
    background-attachment: local !important;
}

.bg-gradient-primary {
    @if $middle-gradient == 'yes' {
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
    } @else {
        background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
    }
    @if not variable-exists(disable-fixed-gradient) {
        background-attachment: fixed !important;
    }
    background-repeat: repeat-y;
    &.pix-bg-attachment-scroll {
        background-attachment: scroll !important;
    }
}
.bg-gradient-primary-hover {
    transition: $transition-base;
    &:hover{
        @if $middle-gradient == 'yes' {
            background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
        } @else {
            background-image: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
        }
        @if not variable-exists(disable-fixed-gradient) {
            background-attachment: fixed !important;
        }
    }
}
.pix-bg-attachment-scroll {
    background-attachment: scroll !important;
}
.bg-gradient-primary-hover:hover {
    transition: $transition-base;
    @if $middle-gradient == 'yes' {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) fixed !important;
    } @else {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) fixed !important;
    }
}
.btn-gradient-primary {
    transition: $transition-base;
    @if $middle-gradient == 'yes' {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
    } @else {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
    }
    &:hover {
        // @if $middle-gradient {
        //     background: linear-gradient($gradient-direction, rgba($gradient-primary-1, 0.8), rgba($gradient-primary-middle, 0.8), rgba($gradient-primary-2, 0.8)) !important;
        // } @else {
        //     background: linear-gradient($gradient-direction, rgba($gradient-primary-1, 0.8), rgba($gradient-primary-2, 0.8)) !important;
        // }
        opacity: 0.7;
    }
}

.bg-gradient-primary-cover {
    @if $middle-gradient == 'yes' {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-middle, $gradient-primary-2) !important;
    } @else {
        background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) !important;
    }
}

// .text-gradient-secondary{
//     background: linear-gradient($gradient-direction, $gradient-secondary-1, $gradient-secondary-2) fixed;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
//
// .bg-gradient-secondary {
//     background: linear-gradient($gradient-direction, $gradient-secondary-1, $gradient-secondary-2);
// }


::-moz-selection {
  background: rgba($primary, 0.5); /* WebKit/Blink Browsers */
  color: #fff;
}


::selection {
  background: rgba($primary, 0.5); /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: rgba($primary, 0.5); /* Gecko Browsers */
  color: #fff;
}

.bg-gradient-dark {
    background: linear-gradient($gradient-direction, #111, #333) !important;
    @if not variable-exists(disable-fixed-gradient) {
        background-attachment: fixed !important;
    }
}

.bg-dark-blur {
    background: rgba(29,29,31,0.72) !important;
    &:not(.temp-hide) {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
                backdrop-filter: saturate(180%) blur(20px);
    }
}
.bg-light-blur {
    background: rgba(255,255,255,0.8) !important;
    &:not(.temp-hide) {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
                backdrop-filter: saturate(180%) blur(20px);
    }
}
.default-transition {
    transition: $transition-base;
}


.number,
.pix-words-wrapper,
.fly-sm, .fly, .fly-lg,
.scale-sm,
.scale,
.scale-lg,
.scale-inverse-sm,
.scale-inverse,
.scale-inverse-lg,
[data-anim-type="fade-in-up"],
[data-anim-type="fade-in-up-big"],
[data-anim-type="fade-in-down"],
[data-anim-type="fade-in-right"],
[data-anim-type="fade-in-right-big"],
[data-anim-type="fade-in-left"],
[data-anim-type="fade-in-left-big"],
[data-anim-type="pix-3d-in"],
[data-anim-type="pix-3d-right-in"],
[data-anim-type="pix-3d-left-in"],
[data-anim-type="pix-3d-up-in"],
[data-anim-type="pix-3d-down-in"],
[data-anim-type="pix-3d-right-in-big"],
[data-anim-type="pix-3d-left-in-big"],
[data-anim-type="pix-3d-up-in-big"],
[data-anim-type="pix-3d-down-in-big"] {
    &.text-gradient-primary:not(.text-custom-gradient),
    .text-gradient-primary:not(.text-custom-gradient),
    &.bg-gradient-primary:not(.text-custom-gradient),
    .bg-gradient-primary:not(.text-custom-gradient) {
        background-size: 200%;
        background-position: center top;
        background-attachment: scroll !important;
    }
}
